<!--<div id="main-login-btn-container" class="mat-subheading-2">-->
<!--  <button md-menu-item (click)="openLoginDialog()" *ngIf="!loggedIn">-->
<!--    <md-icon>fingerprint</md-icon>-->
<!--    <span>Вхід</span>-->
<!--  </button>-->
<!--  <button md-menu-item routerLink="/profile/general" *ngIf="loggedIn">-->
<!--    <md-icon>account_box</md-icon>-->
<!--    <span>Профіль</span>-->
<!--  </button>-->
<!--  <button md-menu-item routerLink="/profile/settings" *ngIf="loggedIn">-->
<!--    <md-icon>settings</md-icon>-->
<!--    <span>Налаштування</span>-->
<!--  </button>-->
<!--  <button md-menu-item (click)="logoutOfSystem()" *ngIf="loggedIn">-->
<!--    <md-icon>exit_to_app</md-icon>-->
<!--    <span>Вихід</span>-->
<!--  </button>-->
<!--</div>-->
