<mat-menu #menu="matMenu">
  <button (click)="backToMain()"
          mat-menu-item>
    <mat-icon>home</mat-icon>
    Home
  </button>
  <ng-container *ngIf="this.user">
    <button (click)="this.openUser()"
            mat-menu-item>
      <span matBadge="{{this.isEmailVerified(user)}}"
            matBadgeColor="warn"
            matBadgeOverlap="false">
        {{user.preferred_username ? user.preferred_username : user.name}}
      </span>
    </button>
  </ng-container>
</mat-menu>
<button [mat-menu-trigger-for]="menu" mat-button>
  <mat-icon>menu</mat-icon>
</button>
