<div mat-dialog-content>
  <div>
    Author:
    <mat-form-field>
      <input [(ngModel)]="data.author" matInput>
    </mat-form-field>
  </div>
  <div>
    Title:
    <mat-form-field>
      <input [(ngModel)]="data.title" matInput>
    </mat-form-field>
  </div>
  <div>
    <p>content:</p>
    <mat-form-field appearance="fill">
      <mat-label>Please enter your message here</mat-label>
      <textarea #autosize="cdkTextareaAutosize"
                [(ngModel)]="data.content"
                cdkAutosizeMaxRows="5"
                cdkAutosizeMinRows="1"
                cdkTextareaAutosize
                matInput></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>Ok</button>
</div>
